:root {
    --accent-color: #FF9100;
    --dark-color:#3B4A51;
    --white-color:#FFF;
}
input, textarea {
    outline:none;
}
.contacts__page {
    background-image: none;
}
.pages__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.pages__title { 
    max-width: 512px;
    width: 100%;
    margin-top: 17px;
    border-bottom: 0.5px solid var(--accent-color);
    padding-bottom: 17px;
    flex-grow: 100;
    flex-shrink: 0;
    flex-basis: 0;
    margin-bottom: 32px;
}
.pages__title h1 { 
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.05em;
    text-align: center;
}
.container__pages_flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 
.content__u-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}
.content__u-title-h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}
.content__u-subtitle-p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
    text-align: center;
    margin-top: 30px;
}
.content__u-seo-slider-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 85px;
}
.content__u-seo-left-item {
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    max-width: 472px;
    width: 100%;
    padding: 35px 0;
}
.content__u-seo-left-item:last-child {
    border-bottom:none;
}
.content__u-seo-left-item-img-wrapper {
    width: 90px;
    height: 90px;
    background: #F9F9F9;
    padding: 15px;
    border-radius: 50%;
}
.content__u-seo-left-item-img-wrapper > img {
    width: 60px;
    height: 60px;
}
.content__u-seo-left-item-wrapper {
    gap: 9px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.content__u-seo-left-item-h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}
.content__u-seo-left-item-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}
.content__u-slider-right-block > .slider {
    margin-top: 20px;
}
.content__u-slider-right-block-h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
    margin-top: 5px;
}
.content__u__form {
    width: 100%;
}
.content__u__wrapper-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items:center;
    margin-top: 70px;
}
.content__u__wrapper-form-h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}
.content__u__form-block1 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: end;
    margin-bottom: 65px;
}
.content__u__form-block1-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #667080;
    margin-bottom: 10px;
}
.content__u__form-block1-wrapper {
    max-width: 345px;
    width: 100%;
}
.content__u__form-block1-wrapper > select {
    width: 100%;
    border: 1px solid #3B4A51;
    border-radius: 15px;
    padding: 12px;
    background:transparent;
}
.content__u__form-button {
    background:var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--white-color);
    padding: 13.5px 51px;
    border: 1px solid #FF9100;
    border-radius: 15px;
    cursor: pointer;
}
.content__u__fieldset {
    flex-direction: column;
    align-items:center;
    border:none;
}
.content__u__fieldset-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 184px;
    height: 100%;
    margin-bottom: 80px;
}
.content__u__form-wrapper-4block {
    display: flex;
    flex-direction: column;
}
.content__u__form-title-h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-color);
    margin-bottom: 18px;
}
.content__u__form-title-h3-hr {
    max-width: 512px;
    width: 100%;
    color: var(--accent-color);
    border: none;
    background-color: var(--accent-color);
    height: 1px;
    margin-bottom: 37px;
}
.content__u__form-wrapper-cost {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:42px;
    background: #F9F9F9;
    border-radius: 15px;
    max-width: 189px;
    width: 100%;
    padding: 18px 33px;
}
.content__u__form-wrapper-p1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #8A97A4;
}
.content__u__form-wrapper-cost > h5 {
    font-weight: 700;
    font-size: 70px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--dark-color);
}
.content__u__form-wrapper-p2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;    
    color: #8A97A4;
}
.content__u__form-wrapper-2block {
    max-width: 345px;
    width: 100%;
    gap: 19px;
    display: flex;
    flex-direction: column;
}
.content__u__input {
    padding: 15px 13px;
    width: 100%;
    height: 48px;
    border: 1px solid var(--dark-color);
    border-radius: 15px;
    color: var(--dark-color);
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.content__u__form-wrapper-3block {
    max-width: 345px;
    width: 100%;
}
.content__u__textarea {
    border: 1px solid var(--dark-color);
    border-radius: 15px;
    padding: 13px 15px;
    height: 100%;
    max-width: 345px;
    width: 100%;
}
textarea.content__u__textarea {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--dark-color);
}

.content__u__form-wrapper-4block {
    max-width: 222px;
    width: 100%;
    gap: 19px;
    display: flex;
    flex-direction: column;
}
.content__u__button1-4block, 
.content__u__input-4block,
.content__u__button2-4block {
    height: 48px;
    border: 1px solid var(--dark-color);
    border-radius: 15px;
    padding: 13px 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.content__u__button1-4block {
    background: var(--dark-color);
    text-align: left;
    color:var(--white-color);    
    border:none;
}
.content__u__button2-4block {
    background: #FF9100;
    border:none;
    color:var(--white-color);
}
@media (max-width: 1199px) {
    .content__u__fieldset-wrapper {
        flex-wrap: wrap;
        max-height: 100%;
        justify-content: center;
        gap:20px;
    }
}
@media (max-width: 1080px) {
    .content__u-seo-slider-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .content__u__form-block1 {
        flex-direction: column;
        align-items:center;
        gap:20px;
    }
}
@media (max-width: 768px) {
    .pages__title {
        font-size: 42px;
    }
}
@media (max-width: 368px) {
    .content__u-title-h3,
    .content__u__wrapper-form-h3 {
        text-align: center;
    }
}

