@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;600;700&display=swap');


#mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
    padding: 0 !important;
}
#mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
    padding: 0 !important;
}
#mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
    height: 56px !important;
    font-family: 'Anek Latin', sans-serif !important;
    color:rgba(82, 75, 71, 0.4);
    font-weight: 400;
    font-size: 18px !important;
    padding:16px 193px 16px 20px !important;

}
#mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
    height: 56px !important;
    font-family: 'Anek Latin', sans-serif !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    width: 167px !important; 
}
.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
    max-width: 337px;
    width: 100%;
}
#mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
    max-width: 328px !important;
    width: 100%;
    outline: none;
}
.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal {
    max-width: 167px !important;
    width: 100%;
}
.section__subscription > .section__subscription-form > .ml-embedded {
    width: 100%;
}
@media (max-width: 504px) {
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
        max-width: 458px !important;
        width: 100% !important;
    }
    #mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
        max-width: 458px !important;
        width: 100% !important;
        padding:16px !important;
    }
    .header__main-block-join-form-wrapper {
        max-width: 504px !important;
        width: 100%;
    }
    .ml-embedded #mlb2-1095595 .ml-mobileButton-horizontal button {
        height: 56px;
        font-family: 'Anek Latin', sans-serif !important;
        font-weight: 600 !important;
        font-size: 18px !important;
        line-height: 24px !important;
    }

}
@media (max-width: 375px)  {
    .ml-embedded #mlb2-1095595.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
        padding: 0 !important;
    }
    .ml-form-embedBody .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
        margin-bottom:6px !important ;
    }
    .section__subscription-form .ml-embedded #mlb2-1095595 .ml-mobileButton-horizontal button {
        margin-top: 10px;
    }
}



