:root {
    --accent-color: #FF9100;
    --dark-color:#3B4A51;
    --white-color:#FFF;
}
.about_us__page {
    justify-content: flex-end;
}
.about_us_title {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-around;
    margin-top: 70px;
}
.about_us_title-h3 {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.05em;
    color:var(--dark-color);
}
.about_us_title-h3 span {
    color:var(--accent-color);
}
.about_us_title-hr1 {
    max-width: 50px;
    width: 100%; 
}
.about_us_subtitle-p {
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    color:var(--dark-color);
}
.about_us_ceo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.about_us_ceo-container {
    max-width: 918px;
    width: 100%;
    display: flex;
    align-items:center;
    gap: 51px;
    margin-bottom: -78px;
    z-index: 3;
    margin-top: 70px;  
}
.about_us_seo-text-container {
    display: flex;
    flex-direction: column;
}
.about_us_title-hr2 {
    max-width: 281px;
    width: 100%;
    color:var(--accent-color);
    border:none;
    background-color: var(--accent-color);
    height: 1px;
}
.about_us_seo-text-p2 {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color:var(--dark-color)
}
.container__1920_about-us-top {
    height: 200px;
    background:url('../img/about_us/bg_wave.png') no-repeat top left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.container__1200_about-us-top {
    max-width: 1200px;
    width: 100%;
    height: 240px;
    background-image: url('../img/about_us/square1_left.svg'), url('../img/about_us/square2_left.svg'), url('../img/about_us/square4_right.svg');
    background-repeat: no-repeat, no-repeat, no-repeat ;
    background-position: 0 0, 22% 79%, right bottom;
    z-index: 2;
}
.container__1920_about-us-middle {
    background:var(--accent-color);
    height: 175px;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container__1200_about-us-middle {
    background:url('../img/about_us/square3_right.svg') no-repeat 60% 10%;
    height: 175px;
    background-color:var(--accent-color);
    max-width:1200px ;
    width: 100%;
}
.about_us-container {
    display: flex;
    justify-content: center;
    margin-top: -53px;
}
.about__us-info-block {
    max-width: 1094px;
    width: 100%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 49px 0;
}
.about__us-info-block-item {
    border-right:1px solid var(--dark-color);
    height:114px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    padding: 0 39px;
    align-items: center;
    background:url('../img/about_us/romb.svg') no-repeat 5% 0;
}
.about__us-info-block-item:last-child {
    border-right:none;
}
.about__us-cooperation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 70px;
}
.about__us-cooperation-title {
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}
.about__us-cooperation-title > span {
    font-weight: 700;
}
.about__us-cooperation-title > span > span {
    color:var(--accent-color);
}
.lines__button-about-us {
    margin-top: 70px;
    margin-bottom: 80px;
}

@media (max-width: 1700px) {
    .about_us_ceo-container {
        margin-bottom: -62px;
    }
}
@media (max-width: 1400px) {
    .about_us_ceo-container {
        margin-bottom: -49px;
    }
}
@media (max-width: 1199px) {
    .about_us_title {
        flex-direction: column;
    }
    .about_us__page {
        justify-content: center;
    }
    .container__1200_about-us-middle {
        margin-top: -1px;
    }
    .about_us_ceo-container {
        margin-bottom: -40px;
    }
}
@media (max-width: 1080px) {
    .container__1200_about-us-top {
        background-image: none, url('../img/about_us/square2_left.svg'), url('../img/about_us/square4_right.svg');
    }
    .about__us-info-block {
        flex-direction: column;
        align-items:center;
        max-width: 700px;
    }
    .about__us-info-block-item {
        border-right: none;
        border-bottom:1px solid var(--dark-color);
        width: 100%;
    }
    .about__us-info-block-item:last-child {
        border-bottom:none;
    }
}
@media (max-width: 799px) {
    .about_us_subtitle-p {
        text-align: center;
    }
    .about_us_title {
        margin-top: 25px;
    }
}
@media (max-width: 768px) {
    .about_us_ceo-container {
        flex-direction: column;
        margin-bottom: 40px;
    }
   
    .about__us-cooperation-title {
        text-align: center;
    }
    .about_us_title-h3 {
        font-size: 40px;
    }
    .about_us_subtitle-p {
        font-size: 25px;
    } 
    .about__us-info-block-item {
        font-size: 25px;
    }
    .about__us-cooperation-title {
        font-size: 25px;
    } 
}
@media (max-width: 368px) {
    .about_us_title-h3 {
        font-size: 35px;
    }
    .about_us_subtitle-p {
        font-size: 20px;
    }
    .about_us_seo-text-p1 {
        font-size: 14px;
    }
    .about__us-info-block-item {
        font-size: 20px;
    }
    .about__us-cooperation-title {
        font-size: 20px;
    }
}


