@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aneklatin/v4/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aneklatin/v4/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aneklatin/v4/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aneklatin/v4/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.fc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.jb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.je {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.vt {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.vc {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vb {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.it {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.ic {
  -ms-flex-item-align: center;
  align-self: center;
}
.ib {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.fw {
  flex-wrap: wrap;
}
.fwn {
  flex-wrap: nowrap;
}
body {
  font-family: 'Anek Latin', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*containers*/
.container__white {
  background: #FBFAF6;
  height: 100vh;
}
.container__1800 {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.container__1120 {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.bg__top {
  background-image: url('https://storage.googleapis.com/bakksy-public-img/img/backgrounds/bg_top_right.png'), url('https://storage.googleapis.com/bakksy-public-img/img/backgrounds/bg_top_right.png');
  background-position: -124px -187px, 1207px 85px;
  background-repeat: no-repeat, no-repeat;
  background-size: 39%, 39%;
}
/*containers end*/
/*HEADER START*/
.header {
  padding-top: 10px;
}
.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 52px;
}
.header__top-wrapper .header__wrapper-ls {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-wrapper .header__wrapper-ls .header__nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  margin-left: 61px;
  gap: 30px;
}
.header__top-wrapper .header__wrapper-ls .header__nav-ul li {
  gap: 30px;
}
.header__top-wrapper .header__wrapper-ls .header__nav-ul a {
  font-weight: 600;
  font-size: 16px;
  color: #524B47;
}
.header__wrapper-rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__wrapper-rs button {
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 138px;
  background: #1F938A;
  height: 52px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #FBFAF6;
}
.header__wrapper-rs .header__wrapper-language {
  position: relative;
  margin-top: -2px;
}
.header__wrapper-rs .header__wrapper-language a.active__language {
  outline: none;
  border: 2px solid #524B47;
  border-radius: 6px;
  position: relative;
  padding: 4px;
  color: #524B47;
  font-weight: 600;
  font-size: 14px;
}
.header__wrapper-rs .header__wrapper-language .active__language::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('https://storage.googleapis.com/bakksy-public-img/img/arrow_menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
  position: absolute;
  left: -26px;
  top: 4px;
}
.header__wrapper-rs .header__wrapper-language .active__language.arrow::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('https://storage.googleapis.com/bakksy-public-img/img/arrow_menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
  transform: rotate(180deg);
}
.header__wrapper-rs .header__wrapper-language .language__hidden__block {
  position: absolute;
  width: 96px;
  height: 66px;
  border: 1px solid rgba(82, 75, 71, 0.1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  top: 39px;
  left: -70px;
  padding: 12px 0px 12px 16px;
  background: #FBFAF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__wrapper-rs .header__wrapper-language .language__hidden__block li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #524B47;
  letter-spacing: -0.02em;
  position: absolute;
  top: 38px;
  left: 34px;
}
.header__wrapper-rs .header__wrapper-language .language__hidden__block li a.active__language-link {
  background: url(https://storage.googleapis.com/bakksy-public-img/img/arrow_menu_check.svg) no-repeat 0 0;
  padding: 0px 20px 0px 20px;
  position: absolute;
  left: 14px;
  top: 11px;
}
.header__wrapper-rs a.anchor__join-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1F938A;
  width: 138px;
  height: 52px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #FBFAF6;
  transition: all 0.5s ease-in-out;
}
.header__wrapper-rs a.anchor__join-header:hover {
  background-color: #A7DAA2;
  color: #1F938A;
}
.header__banner {
  background-image: url('https://storage.googleapis.com/bakksy-public-img/img/header/header_bg_2.png');
  background-repeat: no-repeat;
  height: 246px;
  margin-top: 56px;
  color: #FBFAF6;
  width: 100%;
  border-radius: 32px;
  background-color: #1F938A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__banner .header__banner-ls,
.header__banner .header__banner-rs {
  width: 50%;
}
.header__banner .header__banner-ls {
  padding: 48px 0 48px 47px;
}
.header__banner .header__banner-ls h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 17px;
}
.header__banner .header__banner-ls p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
}
.header__banner .header__banner-rs {
  padding: 63px 85px 77px 128px;
}
.header__banner .header__banner-rs h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #FBFAF6;
  text-align: center;
}
.header__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__main-block .header__main-block-wrapper-ls {
  padding: 62px 0 0 0;
  width: 60%;
}
.header__main-block .header__main-block-wrapper-ls .congratulations {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__main-block .header__main-block-wrapper-ls .congratulations p.congratulations-p1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1F938A;
}
.header__main-block .header__main-block-wrapper-ls .congratulations p.congratulations-p2 {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #524B47;
  line-height: 150%;
  margin-top: 31px;
  display: block;
  border: 1px solid #524B47;
  background: #F3E5DC;
  max-width: 518px;
  width: 100%;
  border-radius: 8px;
}
.header__main-block .header__main-block-wrapper-ls .congratulations span.congratulations-span {
  margin-top: 16px;
  background: #FFFFFF;
  padding: 20px 24px;
  max-width: 518px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: 1px solid #1F938A;
  color: #524B47;
  height: 67px;
}
.header__main-block .header__main-block-wrapper-ls .congratulations span.congratulations-span a {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}
.header__main-block .header__main-block-wrapper-ls .main__block-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-ls .main__block-h1 span {
  color: #FE6150;
}
.header__main-block .header__main-block-wrapper-ls .main__block-p {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm {
  margin-top: 30px;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription label,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm label {
  font-weight: 400;
  font-size: 16px;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper,
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 6px;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper input,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper input,
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm input,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm input {
  padding: 20px 24px;
  width: 310px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid rgba(82, 75, 71, 0.1);
  border-radius: 10px;
  font-weight: 400;
  font-size: 17px;
  color: #524B47;
  outline: none;
  margin-right: 8px;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper button,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper button,
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm button,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button {
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  max-width: 200px;
  width: 100%;
  height: 64px;
  background-color: #1F938A;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FBFAF6;
  transition: all 0.5s ease-in-out;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper button:hover,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper button:hover,
.header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm button:hover,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button:hover {
  background-color: #A7DAA2;
  color: #1F938A;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription p,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription p a,
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm p a {
  color: #1F938A;
  text-decoration: underline;
}
.header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
  margin-top: 14px;
}
.header__main-block .header__main-block-wrapper-ls .check__your-inbox,
.header__main-block .header__main-block-wrapper-ls .thanks__for-joining {
  max-width: 518px;
  width: 100%;
  height: 68px;
  background: #FFF;
  padding: 20px 24px;
  border: 1px solid rgba(82, 75, 71, 0.1);
  border-radius: 10px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__main-block .header__main-block-wrapper-ls .check__your-inbox p,
.header__main-block .header__main-block-wrapper-ls .thanks__for-joining p {
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__main-block .header__main-block-wrapper-ls .check__your-inbox img,
.header__main-block .header__main-block-wrapper-ls .thanks__for-joining img {
  margin-right: 10px;
}
.header__main-block .wrapper__ls-email-verified {
  padding: 102px 0 0 16px;
}
.header__main-block .wrapper__ls-email-verified h1.email__verified-h1 {
  color: #1F938A;
}
.header__main-block .wrapper__ls-email-verified .email__verified-p span {
  color: #FE6150;
  font-weight: 600;
}
.header__main-block .wrapper__ls-email-verified .form__subscription-confirm label.email__verified-label {
  color: #1F938A;
  font-weight: 600;
}
.header__main-block .wrapper__ls-email-verified .form__subscription-confirm .join__wrapper-confirm-email-verified input {
  border: 1px solid #1F938A;
}
.header__main-block .wrapper__ls-referal-link {
  padding: 36px 0 39px 17px;
}
.header__main-block .wrapper__ls-referal-link .referal__link-h1 {
  color: #1F938A;
}
.header__main-block .wrapper__ls-referal-link .referal__link-p br {
  display: none;
}
.header__main-block .wrapper__ls-referal-link .referal__link-p span {
  color: #FE6150;
  font-weight: 600;
}
.header__main-block .header__main-block-wrapper-rs .devices_mobile,
.header__main-block .header__main-block-wrapper-rs .congratulations_mobile {
  display: none;
}
.header__main-block .header__main-block-wrapper-rs img {
  margin-right: -69px;
  margin-top: 41px;
}
.header__main-block .header__main-block-wrapper-rs .devices_desktop {
  width: 534px;
}
.header__main-block .header__main-block-wrapper-rs .congratulations_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 97px;
  width: 100%;
  margin-right: 88px;
}
.header__main-block .header__main-block-wrapper-rs .congratulations_desktop .desktop__download-icon-a img {
  margin-top: 0;
  margin-right: 0;
}
.header__main-block .header__main-block-wrapper-rs .congratulations_desktop .congratulations_desktop-wrapper-main .desktop-wrapper-inside .desktop__inside-logo img {
  margin-right: 0;
  margin-top: 0;
}
.header__main-block .header__main-block-wrapper-rs .congratulations_desktop a {
  width: 46px;
}
.header__main-block .header__main-block-wrapper-rs .congratulations_desktop img.desktop__img-main {
  max-width: 283px;
  width: 100%;
  margin-right: 9px;
}
.header__main-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__main-block .header__main-block-wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 49px;
}
.header__main-block .header__main-block-wrapper-top a {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__main-block .header__main-block-wrapper-top a img {
  max-width: 155px;
  width: 100%;
}
.header__main-block .header__main-block-wrapper-top h2 {
  font-weight: 700;
  font-size: 48px;
  color: #524B47;
  margin-bottom: 9px;
  margin-top: 26px;
  text-align: center;
}
.header__main-block .header__main-block-wrapper-top h2 br {
  display: none;
}
.header__main-block .header__main-block-wrapper-top h2 span {
  color: #FE6150;
}
.header__main-block .header__main-block-wrapper-top h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #524B47;
  text-align: center;
}
.header__main-block .header__main-block-wrapper-top h5 br {
  display: none;
}
.header__main-block .header__main-block-wrapper-top h5 span {
  color: #FE6150;
}
.header__main-block .header__main-block-wrapper-bottom {
  margin-top: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join {
  max-width: 558px;
  width: 100%;
  padding: 16px;
  background: #FAFAFA;
  border: 1px solid rgba(82, 75, 71, 0.1);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join a img {
  margin-right: 12px;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join form {
  width: 100%;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join form button {
  border: 1px solid #524B47;
  border-radius: 10px;
  background: #FBFAF6;
  height: 56px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Anek Latin';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #524B47;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join form button img {
  margin-right: 12px;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join a.join__social {
  padding: 16px 0;
  border: 1px solid #524B47;
  border-radius: 10px;
  background: #FBFAF6;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join a.join__email {
  margin-top: 14px;
  margin-bottom: 14px;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #524B47;
  margin-top: 17px;
  display: block;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join span a {
  color: #1F938A;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  display: inline;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join span a:hover {
  text-decoration: none;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription {
  width: 100%;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper input#input__join {
  max-width: 325px;
  width: 100%;
  padding: 16px 24px;
  background: #FBFAF6;
  border: 1px solid rgba(82, 75, 71, 0.1);
  border-radius: 10px;
  color: rgba(82, 75, 71, 0.4);
  font-weight: 400;
  font-size: 18px;
  font-family: 'Anek Latin';
  height: 56px;
  outline: none;
}
.header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper button#join_waitlist {
  font-family: 'Anek Latin';
  max-width: 193px;
  width: 100%;
  height: 56px;
  background: #1F938A;
  padding: 16px 24px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #FBFAF6;
  outline: none;
  border: none;
  cursor: pointer;
}
.header__main-block .header__main-block-last {
  margin-top: 72px;
}
.header__main-block .header__main-block-last a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Anek Latin';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #524B47;
}
.header__main-block .header__main-block-last a img {
  margin-left: 8px;
}
/*HEADER END*/
/*section__benefits START*/
/*section__benefits END*/
/*bakksy-club START*/
/*bakksy-club END*/
/*win-prizes START*/
/*win-prizes END*/
/*whats-inside START*/
/*whats-inside END*/
/*freedom START*/
/*freedom END*/
/*section__seed-round START*/
/*FOOTER START*/
/* FOOTER END*/
/* CORRECT PL*/
/* MOBILE PL*/
/* MOBILE PL END*/
@media (max-width: 1201px) {
  .bg__top {
    background-size: 49%, 49%;
    background-position: -140px -89px, 889px 85px;
  }
}
@media (max-width: 630px) {
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper input#input__join {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper button#join_waitlist {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1140px) {
  .container__1120 {
    padding: 0 15px;
  }
  .header__banner {
    background: #1F938A;
    border-radius: 32px;
  }
  .header__banner .header__banner-ls h3 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .header__banner .header__banner-ls p {
    font-size: 16px;
  }
  .header__banner .header__banner-rs {
    padding: 48px 0 48px 47px;
  }
  .header__main-block .header__main-block-wrapper-ls {
    width: auto;
  }
  .header__main-block .header__main-block-wrapper-rs {
    padding-right: 0;
  }
  .header__main-block .header__main-block-wrapper-rs img.devices_desktop {
    margin-right: -80px;
    max-width: 568px;
    width: 100%;
  }
  .section__benefits-wrapper {
    justify-content: space-around;
  }
  .bc__type-selection-wrapper {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .bc__type-selection-item {
    margin-bottom: 20px;
  }
  .win__prizes-wrapper {
    justify-content: space-around !important;
  }
  .win__prizes-wrapper .win__prizes-items {
    margin-top: 20px;
  }
  .section__benefits-wrapper .section__benefits-items,
  .owl-carousel .section__benefits-items {
    margin-right: 5px;
  }
  .section__bakksy-club .bc__type-selection-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 1005px) {
  .congratulations {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop {
    margin-right: 0;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm input {
    margin-bottom: 20px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button {
    max-width: 310px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper button {
    margin-top: 10px;
  }
  .section__win-prizes h2 {
    text-align: center;
  }
  .section__freedom-wrapper .freedom__wrapper-ls {
    padding: 100.4px 0 0 85px;
  }
}
@media (max-width: 900px) {
  .congratulations {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__main-block .header__main-block-wrapper-ls {
    width: 100%;
    padding: 31px 0 23px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__main-block .header__main-block-wrapper-ls h1 {
    text-align: center;
  }
  .header__main-block .header__main-block-wrapper-ls p {
    text-align: center;
  }
  .header__main-block .header__main-block-wrapper-rs img {
    margin-right: 0;
  }
  .header__main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__banner .br__header-banner {
    display: none;
  }
  .header__banner .header__banner-ls h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 770px) {
  .section__benefits-slider {
    display: block;
  }
  .section__benefits-wrapper {
    display: none;
  }
  .img__mobile-v {
    display: none !important;
  }
  .section__freedom-wrapper .freedom__wrapper-ls {
    padding: 90.4px 0 0 55px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls h3 {
    font-size: 30px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls button {
    margin-top: 85px;
  }
  .win__prizes-bg {
    background: url(https://storage.googleapis.com/bakksy-public-img/img/section__win-prizes/BG.png) no-repeat center bottom;
  }
  .section__freedom-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section__freedom-wrapper .freedom__wrapper-ls {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls h3 {
    text-align: center;
  }
  .section__freedom-wrapper .freedom__wrapper-rs {
    display: none;
  }
}
@media (max-width: 645px) {
  .header__main-block .cookies__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .cookies__wrapper .cookies__wrapper-ls {
    margin-bottom: 10px;
  }
  .header__main-block-wrapper-top h2 {
    font-size: 44px;
  }
  .header__main-block-wrapper-top h2 br {
    display: inline !important;
  }
  .header__main-block-wrapper-top h5 {
    font-size: 20px;
  }
  .header__main-block-wrapper-top h5 br {
    display: inline !important;
  }
  .section__whats-inside .whats__inside-item-wrapper {
    justify-content: flex-start;
  }
  .header__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
  }
  .header__banner .header__banner-ls {
    padding: 0;
    text-align: center;
    margin-top: 75px;
    order: 2;
  }
  .header__banner .header__banner-rs {
    padding: 0;
    text-align: center;
    margin-top: 50px;
    order: 1;
  }
  .section__seed-round h3 {
    font-size: 40px;
    margin-top: 50.5px;
    margin-bottom: 40px;
  }
  .section__seed-round .email__wrapper p {
    font-size: 20px;
  }
  .section__seed-round .email__wrapper a {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .header__main-block .header__main-block-wrapper-ls {
    padding: 31px 0 23px 0;
  }
  .header__banner .header__banner-ls {
    margin-top: 90px;
  }
  .header__banner .header__banner-ls h3 {
    font-size: 25px;
    margin-top: 10px;
  }
  .header__banner .header__banner-rs {
    margin-top: 40px;
  }
  .header__banner .header__banner-rs h2 {
    font-size: 39px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button {
    margin-top: 24px;
    max-width: 310px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-rs .devices_desktop {
    width: 390px;
  }
  .section__bakksy-club h2 {
    text-align: center;
  }
  .section__whats-inside h2 {
    text-align: center;
  }
}
@media (max-width: 410.99px) {
  .header__main-block .cookies__wrapper {
    max-width: 375px;
    padding: 18px 16px 16px 16px;
  }
  .header__main-block .cookies__wrapper .cookies__buttons-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    margin-top: 2px;
    gap: 13px;
  }
  .header__main-block .cookies__wrapper .cookies__buttons-wrapper button {
    width: 100%;
  }
  .header__main-block .cookies__wrapper .cookies__buttons-wrapper button.allow {
    margin-right: 0;
    order: 1;
  }
  .header__main-block .cookies__wrapper .cookies__buttons-wrapper button.decline {
    order: 2;
  }
  .header__main-block .cookies__wrapper .cookies__wrapper-ls .cookies__wrapper-img {
    display: none;
  }
  .header__main-block .cookies__wrapper .cookies__wrapper-ls span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .header__main-block .cookies__wrapper .cookies__wrapper-ls span span {
    font-weight: 400;
  }
  .header__main-block .cookies__wrapper .cookies__wrapper-ls span a {
    font-weight: 400;
  }
  .section__benefits-items {
    max-width: 342px !important;
    width: 100% !important;
  }
  .section__benefits-items .section__benefits-items-wrapper {
    padding: 17px 16px 0 16px;
  }
  .section__benefits-items .section__benefits-items-wrapper p {
    padding-right: 6px;
    line-height: 152%;
  }
  .owl-carousel {
    padding-top: 42px;
    padding-bottom: 30px;
  }
  .owl-carousel .section__benefits-items {
    margin-right: 0 !important;
  }
  .img__mobile-v {
    display: block !important;
  }
  .img__till-mobile-v {
    display: none !important;
  }
  .container__1120 {
    padding: 0 24px;
  }
  .header__wrapper-rs button,
  .header__wrapper-rs a.anchor__join-header {
    display: none;
  }
  .header__wrapper-rs .header__wrapper-language {
    margin-right: 0;
  }
  .header__wrapper-rs .header__wrapper-language a.active__language {
    padding: 2.5px;
  }
  .header__wrapper-rs .header__wrapper-language a.active__language:before {
    left: -27px;
    top: 3px;
  }
  .header__wrapper-rs .header__wrapper-language .language__hidden__block {
    height: 78px;
    top: 31px;
    left: -73px;
    padding: 0 0 0 18px;
  }
  .header__wrapper-rs .header__wrapper-language .language__hidden__block li:first-child a {
    margin-bottom: 15px;
    display: block;
  }
  .header__wrapper-rs .header__wrapper-language .language__hidden__block li:first-child li a {
    margin-top: 5px;
  }
  .header__wrapper-ls .header__logo img {
    width: 70px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .header__top-wrapper {
    max-width: 342px;
    width: 100%;
  }
  .header__banner {
    border-radius: 32px;
    background-color: #1F938A;
    background-image: url(https://storage.googleapis.com/bakksy-public-img/img/header/header_bg_mobile_new.png);
    background-size: 342px;
    background-repeat: no-repeat;
    max-width: 342px;
    width: 100%;
    height: 416px;
    padding: 17px 24px 24px 24px;
    margin-top: 32px;
  }
  .header__banner .header__banner-rs {
    width: 100%;
    margin: 0;
  }
  .header__banner .header__banner-rs h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    margin-top: 44px;
  }
  .header__banner .header__banner-ls {
    width: 100%;
    margin-top: 74px;
  }
  .header__banner .header__banner-ls h3 {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 17px;
  }
  .header__banner .header__banner-ls p {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  .header__main-block {
    padding-bottom: 2px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls {
    padding: 24px 0 0 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .header__main-block-wrapper-ls h1 {
    font-weight: 700;
    font-size: 36px !important;
    line-height: 120%;
    text-align: left;
  }
  .header__main-block .header__main-block-wrapper-ls p.main__block-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }
  .header__main-block .header__main-block-wrapper-ls p.main__block-p br {
    display: none;
  }
  .header__main-block .header__main-block-wrapper-ls button {
    max-width: 342px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm {
    width: 100%;
    margin-top: 22px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription label,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm label {
    font-size: 14px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm button,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button {
    margin-top: 17px;
    max-width: 342px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm input {
    max-width: 342px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper .input__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper .input__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm .input__wrapper,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm .input__wrapper {
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper .input__wrapper p,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper .input__wrapper p,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm .input__wrapper p,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm .input__wrapper p {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper .input__wrapper input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper .input__wrapper input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription .join__wrapper-confirm .input__wrapper input,
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm .input__wrapper input {
    max-width: 342px;
    width: 100%;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm {
    margin-top: 18px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm {
    margin-top: 7px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm button {
    margin-top: 9px;
  }
  .header__main-block .header__main-block-wrapper-ls .form__subscription-confirm .join__wrapper-confirm input {
    padding: 16px;
    height: 56px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(82, 75, 71, 0.4);
    margin-bottom: 7px;
  }
  .header__main-block .header__main-block-wrapper-ls .thanks__for-joining .thanks__for-joining-p {
    font-weight: 500;
    font-size: 16px;
  }
  .header__main-block .header__main-block-wrapper-ls .check__your-inbox {
    height: 59px;
    padding: 17.5px 16px;
    margin-top: 22px;
  }
  .header__main-block .header__main-block-wrapper-ls .check__your-inbox .thanks__for-joining-p {
    font-weight: 500;
    font-size: 16px;
  }
  .header__main-block .header__main-block-wrapper-ls .congratulations {
    margin-top: 0;
    margin-bottom: -4px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header__main-block .header__main-block-wrapper-ls .congratulations p.congratulations-p1 {
    text-align: left;
    font-size: 14px;
    margin-top: 23px;
  }
  .header__main-block .header__main-block-wrapper-ls .congratulations p.congratulations-p1 br {
    display: none;
  }
  .header__main-block .header__main-block-wrapper-ls .congratulations span.congratulations-span {
    max-width: 342px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    height: 56px;
    padding: 16px;
  }
  .header__main-block .header__main-block-wrapper-ls .congratulations p.congratulations-p2 {
    margin-top: 24px;
    text-align: left;
  }
  .header__main-block .wrapper__ls-referal-link .referal__link-p br {
    display: block !important;
  }
  .header__main-block .header__main-block-wrapper-rs .devices_mobile {
    display: block;
    margin-top: -16px;
    width: 390px;
    position: relative;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop {
    display: none;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
    margin-left: 37px;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_mobile img.mobile__img-main {
    max-width: 226px;
    width: 100%;
  }
  .section__bakksy-club {
    padding-bottom: 65px;
  }
  .section__bakksy-club h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    padding: 18px 0 10px 0;
  }
  .section__bakksy-club h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .section__bakksy-club .bc__type-selection-wrapper {
    margin-top: 28px;
  }
  .section__bakksy-club .bc__type-selection-wrapper .bc__type-selection-item {
    margin-bottom: 16px;
  }
  .section__win-prizes {
    padding: 39px 0 48px 0;
  }
  .section__win-prizes h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 17px;
  }
  .section__win-prizes .win__prizes-wrapper .win__prizes-items {
    max-width: 342px;
    width: 100%;
    padding: 22px 24px 24px 24px;
    height: 100%;
    margin-top: 16px;
  }
  .section__win-prizes .win__prizes-wrapper .win__prizes-items p {
    margin-top: 15px;
  }
  .win__prizes-bg {
    background: url(https://storage.googleapis.com/bakksy-public-img/img/section__win-prizes/BG_mobile.png) no-repeat top center;
    max-width: 390px;
    width: 100%;
  }
  .section__whats-inside {
    padding: 79px 0 95px 0;
  }
  .section__whats-inside h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: left;
  }
  .section__whats-inside .whats__inside-item-wrapper {
    justify-content: flex-start;
    gap: 8px;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item1 {
    order: 0;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item2 {
    order: 1;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item3 {
    order: 4;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item4 {
    order: 7 ;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item5 {
    order: 2;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item6 {
    order: 3 ;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item7 {
    order: 5;
  }
  .section__whats-inside .whats__inside-item-wrapper .whats__inside-item8 {
    order: 6;
  }
  .section__whats-inside .whats__inside-item-wrapper div {
    padding: 7px 8px;
  }
  .section__whats-inside .whats__inside-item-wrapper div p {
    font-weight: 600;
    font-size: 16px;
  }
  .faq h2 {
    font-weight: 700;
    font-size: 36px !important;
    line-height: 120% !important;
  }
  .faq h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }
  .faq .answer {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }
  .faq .question {
    font-weight: 700;
    font-size: 22px !important;
    line-height: 24px;
    padding: 33.5px 0 33.5px 53px !important;
  }
  .faq li.active .question {
    margin-top: 0;
  }
  .bg__bottom {
    background: none;
  }
  .section__freedom {
    padding-bottom: 41px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }
  .section__freedom-wrapper .freedom__wrapper-ls a {
    width: 342px;
    margin-top: 24px;
  }
  .header__logo img {
    width: 71px;
  }
  .header__banner .header__banner-rs h2 {
    margin-top: 44px;
  }
  .header__banner .header__banner-ls {
    margin-top: 74px;
  }
  .header__banner .header__banner-ls h3 {
    margin-bottom: 17px;
  }
  .header__main-block {
    padding-bottom: 80px;
  }
  .header__main-block .header__main-block-wrapper-ls p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150% !important;
  }
  .header__main-block .header__main-block-wrapper-ls button {
    margin-top: 23px;
  }
  .devices_desktop {
    display: none;
  }
  .section__freedom-wrapper {
    height: 334px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls {
    margin-top: 80px;
  }
  .section__freedom-wrapper .freedom__wrapper-ls h3 {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 120% !important;
  }
  .section__freedom-wrapper .freedom__wrapper-ls button {
    margin-top: 25px;
    width: 342px;
  }
  .footer {
    padding-top: 80px;
  }
  .footer .footer__contact {
    margin-top: 14px;
  }
  .footer .footer__allresserved {
    margin-top: 103px;
  }
  .section__seed-round h3 {
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 2px;
  }
  .section__seed-round .email__wrapper {
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section__seed-round .email__wrapper p {
    text-align: center;
    font-size: 22px;
  }
  .section__seed-round .email__wrapper p br {
    display: none;
  }
  .section__seed-round .email__wrapper a {
    font-size: 18px;
  }
  .section__benefits-wrapper .last__items-sb .section__benefits-items-wrapper img.img-last-item1,
  .owl-carousel .last__items-sb .section__benefits-items-wrapper img.img-last-item1 {
    margin-left: 0;
  }
}
/*design card*/
@media (max-width: 400px) {
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop {
    display: flex;
    margin-top: 0;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop a.desktop__download-icon-a {
    transform: scale(0.8);
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop a.desktop__download-icon-a img {
    margin-left: -14px;
    margin-top: 3px;
  }
  .header__main-block .header__main-block-wrapper-rs .congratulations_desktop .congratulations_desktop-wrapper-main {
    transform: scale(0.792);
    margin-right: 0;
    margin-left: 46px;
  }
}
.congratulations_desktop-wrapper-main {
  width: 240px;
  height: 375px;
  background-image: url(https://storage.googleapis.com/bakksy-public-img/img/card/bg_card.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 16px;
  padding: 16px;
  margin-right: 30px;
}
.desktop-wrapper-inside {
  background-image: url(https://storage.googleapis.com/bakksy-public-img/img/card/bg_rombus.png);
  background-color: #F3E5DC;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 16px;
  height: 100%;
  padding: 12px 0 10px 12px;
  border: 1.36617px solid #524B47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wrapper-inside-bottom .desktop__inside-nick {
  font-weight: 700;
  font-size: 22px;
  color: #524B47;
}
.wrapper-inside-bottom .desktop__inside-community {
  font-weight: 500;
  font-size: 14px;
  color: #524B47;
  line-height: 120%;
  margin-bottom: 11px;
}
.wrapper-inside-bottom .desktop__inside-number {
  background: #FBFAF6;
  padding: 3.3px 11px;
  color: #524B47;
  border-radius: 24px;
  border: 1px solid #524B47;
  font-weight: 600;
  font-size: 11px;
}
@media (max-width: 460.99px) {
  .bg__top {
    background-size: 123%, 132%;
    background-position: -176px -142px, 94px 297px;
  }
  .container__1120 {
    padding: 0 16px;
  }
  .header__main-block .header__main-block-last {
    position: fixed;
    bottom: 36px;
  }
  .header__main-block .header__main-block-wrapper-top {
    margin-top: 34px;
  }
  .header__main-block .header__main-block-wrapper-top a img {
    max-width: 127px;
  }
  .header__main-block .header__main-block-wrapper-top h2 {
    font-family: 'Anek Latin';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-top: 24px;
  }
  .header__main-block .header__main-block-wrapper-top h2 br {
    display: block;
  }
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join {
    padding: 12px 16px;
  }
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join .form__subscription .join__wrapper input#input__join {
    margin-bottom: 22px;
  }
  .header__main-block .header__main-block-wrapper-bottom .main-block-wrapper-join span {
    text-align: center;
    margin-top: 3px;
  }
}
