@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700&family=Inter&display=swap');
.popup,
.popup-success {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 999;
    display: none;
    /* overflow: scroll; */
}
.popup-inner,
.popup-inner-success {
    /* background:#FBFAF6; */
    max-width: 831px;
    position: relative;
    margin: 50px 0;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    -webkit-transform: translateX(-50%) rotate(0);
    -moz-transform: translateX(-50%) rotate(0);
    -ms-transform: translateX(-50%) rotate(0);
    -o-transform: translateX(-50%) rotate(0);
  }
  
  .close-popup,
  .close-popup-success {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .close-popup .bar,
  .close-popup-success .bar-success {
    height: 3px;
    background: #333;
    width: 18px;
    transform: rotate(45deg);
    position: absolute;
  }
  
  .close-popup .bar:nth-child(1),
  .close-popup-success .bar-success:nth-child(1) {
    transform: rotate(-45deg);
  }
  
  body.popup-active {
    overflow: hidden;
  }
  
  body.popup-active .popup {
    overflow-y: scroll;
  }


  /* main */
  .popup__success-wrapper {
    /* max-width: 831px; */
    width: 100%;
    background:#FBFAF6;
    padding: 40px;
    border-radius: 32px;
  }
  .popup__header-ls > h2 {
    font-weight: 600;
    font-size: 36px;
    color:#524B47;
  }
  .popup__header-ls > p {
    margin-top: 8px;
    color: #524B47;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .popup__header-wrapper {
    display: flex;
    justify-content: space-between;
  }